* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
html{
  scroll-behavior: smooth;
}

body {
  border: 0;
  margin: 0;
  padding: 1%;
  background-color: rgb(247, 241, 232);

}
/*Navigation var styles*/
.header {
  height: 20vh;
  padding: 1.5rem;
  
}
.top-var {
  display: flex;
  width: 100%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  
}



.logo-nav-div {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  padding-left: 14px;
}

.logo-nav-div img {
  width: 35%;
}

.logo-nav-div span {
  color: white;
  background-image: linear-gradient(to right, rgba(255, 187, 0, 0.731) , rgba(255, 21, 0, 0.731));
  font-size: 12px;
  font-weight: bold;
  padding: 5px 13px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.links-nav {
  flex: 2;
  display: flex;
  justify-content: center;
}

.links-nav a {
  margin: 0px 10px;
  color: rgb(64, 64, 64);
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
}

.links-nav a:hover {
  text-decoration: underline;
  transform: scale(1.05, 1.05);
}

.button-nav {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 13px;
}

.button-nav a {
  padding: 17px 27px;
  margin: 0px 10px;
  color: rgb(64, 64, 64);
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  border-radius: 5px;
  transition: all 0.3s;
}

.button-nav a:hover {
  background-color: rgb(252, 224, 179);
  box-shadow: 4px 3px 16px goldenrod;
  transform: translate(-1px, -1px);
}

.button-nav button {
  background-color: rgba(0, 94, 255, 0.842);
  color: aliceblue;
  font-size: 16px;
  font-weight: bold;
  padding: 17px 27px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-nav button:hover {
  transform: translate(-1px, -1px);
  box-shadow: 6px 3px 16px rgb(174, 174, 174);
  background-color: rgba(0, 140, 255, 0.842);
}

/*Main styles*/
.main-cont-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 2%;
  height: 100%;
}
/*info section*/
.info-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}

.info-section h1 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 55px;
  margin: 0;
}

.info-section p {
  color: rgb(83, 83, 83);
  font-size: 22px;
  padding-right: 7%;
  line-height: 35px;
}

.form-mail {
  display: flex;
  justify-content: center;
  padding-right: 15%;
  margin-bottom: 14px;
}

.form-mail form {
  display: flex;
  justify-content: space-between;
  gap: 0px 20px;
  width: 100%;
}

.form-mail input {
  flex: 1;
  width: 100%;
  padding: 0px 20px;
  margin: 0px 0;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  transition: all 0.25s;
  outline: none;
}

.form-mail input:focus {
  background-color: rgb(247, 233, 233);
  box-shadow: 1px 1px 16px rgb(174, 174, 174);
}

.form-mail button {
  padding: 18px 30px;
  font-size: 16px;
  font-weight: 600;
  background-color: rgba(0, 94, 255, 0.842);
  color: azure;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.25s;
}

.form-mail button:hover {
  transform: translate(-1px, -1px);
  box-shadow: 6px 3px 16px rgb(174, 174, 174);
  background-color: rgba(0, 140, 255, 0.842);
}

.no-spam-info {
  display: flex;
  align-items: center;
}
.no-spam-info img {
  margin-right: 8px;
}

.no-spam-info span {
  color: rgb(121, 121, 121);
  font-size: 22px;
}

/*Section image*/
.img-section {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.parent-ima {
  width: 60%;
  position: relative;
  top: 0;
  left: 0;
}

.parent-ima img {
  width: 100%;
}

.rojo, .azul {
  position: absolute;
  top: 0;
  left: 30px;
}

.azul {
  transform: rotate(-0.12turn);
}

.rojo {
  transform: rotate(-0.08turn);
}

.morado {
  position: relative;
  top: 0;
  left: 30px;
  transform: rotate(-0.04turn);
}

.girl-1 {
  position: absolute;
  top: 0;
  left: 30px;
}

/*Footer Section Styles*/
.footer-main-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3%;
}

.footer-main-page section {
  display: flex;
  align-items: center;
}

.footer-main-page section a{
  margin: 0px 10px;
  color: rgb(83, 83, 83);
  font-size: 18px;
  text-decoration: none;
}

.help-foot-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 7px;
}

.help-foot-sect p {
  font-family: 'Playfair Display', serif;
  margin: 0;
  color: rgb(55, 55, 55);
}

.help-foot-sect span {
  font-weight: bold;
  color: rgb(43, 43, 43);
}

