@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
$white: hsl(0, 0%, 100%);
$LightGrayishViolet: hsl(270, 3%, 87%);
$DarkGrayishViolet: hsl(279, 6%, 55%);
$VeryDarkViolet: hsl(278, 68%, 11%);


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

// general styles
* {
  box-sizing: border-box;
  /*border: 1px grey solid;*/
  margin: 0;
}

html {
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

main {
  padding: 5%;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  place-content: center;
  background-image: url("../images/bg-main-desktop.png");
  background-repeat: no-repeat;
}
// styles right section the card section.
div.cards-section {
  display: flex;
  flex-direction: column;
  gap: 2em;

  div.front-face-card {
    width: 27.9375em;
    height: 15.3125em;
    align-self: flex-start;
    position: relative;
    text-align: center;
    margin-left: 3.8em;
    color: $white;
    border-radius: 10px;
    box-shadow: 6px 12px 50px rgba(45, 45, 45, 0.427);

    img {
      width: 100%;
      height: 100%;
    }

    div.card-numbers {
      position: absolute;
      top: 50%;
      left: 10%;
      right: 10%;
      /*transform: translate(-50%, -50%);*/
      font-size: 2em;
    }
    div.card-name {
      position: absolute;
      bottom: 1.25em;
      left: 1.875em;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    div.card-date {
      position: absolute;
      bottom: 1.25em;
      right: 1.875em;
      
    }
    div.month {
      position: absolute;
      bottom: 1.25em;
      right: 3.2em;
    }
  }

  div.back-face-card {
    width: 27.9375em;
    height: 15.3125em;
    position: relative;
    text-align: center;
    align-self: flex-end;
    margin-right: 1em;
    color: $white;
    border-radius: 10px;
    box-shadow: 6px 12px 50px rgba(45, 45, 45, 0.427);
    img {
      width: 100%;
      height: 100%;
    }

    div {
      position: absolute;
      top: 49%;
      right: 10%;
      transform: translate(-50%, -50%);
    }
  }
}
// styles for the right section:
div.form-section {
  padding: 0 1%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  /*min-height: 100vh;*/

  form {
    padding: 0 3%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 2em 0;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 18px;
      label {
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 6px;
        color: $VeryDarkViolet;
      }
      input {
        margin-left: 3px;
        font-size: 1.05em;
        width: 20em;
        padding: 15px;
        color: $DarkGrayishViolet;
        border-radius: 9px;
        border: 1px solid $DarkGrayishViolet;
      }

      input:focus {
        outline: none;
        border: 1px solid $VeryDarkViolet;
      }
    }

    div.date-cvc {
      display: flex;
      flex-flow: row;
      flex: 2 1;
      input {
        width: 4.8em;
      }
      div.exp-date {
        width: 100%;
        div {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          
        }
      }
    }

    div button {
      width: 100%;
      background: linear-gradient(45deg, $VeryDarkViolet, $DarkGrayishViolet);
      padding: 10px;
      font-size: 0.9em;
      color: $white;
      border-radius: 6px;
      border: 1px solid $VeryDarkViolet;
      cursor: pointer;
      transition: all 0.23s linear;
    }

    div button:hover {
      letter-spacing: 2px;
      opacity: .8;
    }

    
  }

  
}


@media (max-width:900px){
  html{
    font-size: 75%;
  }
  main {
    height: 900px;
    display: block;
    grid-template-columns: 1fr;
    gap: 10em;
    background-image: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding: 2%;
  }
  div.cards-section {
    /*padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    */
    gap: 0;
    margin-bottom: -150px;
    position: relative;
    div.front-face-card {
      margin: 0
    }
  }
  div.form-section {
    background: none;
    padding-top: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1em 0;
    }
  }

}

div.form-section.display-hide {
  display: none;
}

div.complete-section {
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.3em;

  div.thanks {
    font-size: 2em;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    color: $DarkGrayishViolet;
  }

  button.button-continue {
    width: 20em;
    background: linear-gradient(45deg, $VeryDarkViolet, $DarkGrayishViolet);
    padding: 10px;
    font-size: 0.9em;
    color: $white;
    border-radius: 6px;
    border: 1px solid $VeryDarkViolet;
    cursor: pointer;
    transition: all 0.23s linear;
  }
  
  button.button-continue:hover {
    letter-spacing: 2px;
    opacity: .8;
  }
}

div.complete-section.display-success {
  display: flex;
}

.error {
  display: none;
  width: 100%;
  color: #af4242;
  font-size: 0.8em;
  margin-left: 1em;
}

.error.display-error {
  display: block;
}