@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.main {
  min-height: 100dvh;
  display: grid;
  place-items: center;
}
.main__section {
  padding: 5%;
  width: min(100%, 85em);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25em), 1fr));
  gap: 1rem;
}
.main__cards {
  display: grid;
  gap: 1em;
  grid-template-areas: "front" "back";
}
@media (width < 40em) {
  .main__cards {
    grid-template-areas: "back" "front";
  }
}
:is(.main__cards_front, .main__cards_back) {
  position: relative;
  height: 15.3125rem;
  width: 27.9375rem;
  box-shadow: 6px 12px 50px rgba(45, 45, 45, 0.427);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  text-align: center;
}
@media (width < 40em) {
  :is(.main__cards_front, .main__cards_back) {
    height: 12.3125rem;
    width: 22.9375rem;
  }
}
.main__cards_img {
  width: 100%;
  aspect-ratio: 16/9;
}
.main__cards_front {
  justify-self: start;
  grid-area: front;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (width < 40em) {
  .main__cards_front {
    margin-top: -4.75rem;
  }
}
.main__cards_front > span {
  position: absolute;
  font-size: 1.1rem;
}
.main__cards_front .card_numbers {
  top: 50%;
  left: 10%;
  right: 10%;
  font-size: clamp(1.4rem, 3vw, 1.7rem);
}
.main__cards_front :is(.card_name, .card_date) {
  bottom: 1.5rem;
}
.main__cards_front .card_name {
  left: 1em;
}
.main__cards_front .card_date {
  position: absolute;
  right: 1rem;
}
.main__cards_back {
  justify-self: end;
  grid-area: back;
}
.main__cards_back .cvc_output {
  position: absolute;
  top: 52%;
  right: 8%;
  transform: translate(-50%, -50%);
}

.form {
  padding: 0.4rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1rem;
}
.form > div {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.7rem;
}
.form > div label {
  font-weight: 700;
  letter-spacing: 1px;
  color: hsl(278, 68%, 11%);
}
.form > div > input {
  font-size: 1.1rem;
  min-width: 100%;
  padding: 1rem;
  border-radius: 9px;
  color: hsl(279, 6%, 55%);
  border: 1px solid hsl(270, 3%, 87%);
}
.form > div > input::placeholder {
  font-weight: 700;
  color: hsl(279, 6%, 55%);
}
.form > div input:focus {
  outline: none;
  border: 1px solid hsl(278, 68%, 11%);
}
.form div.date-cvc {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.form div.date-cvc input {
  width: 4.8em;
}
.form div.date-cvc div.exp-date {
  width: 100%;
}
.form div.date-cvc div.exp-date div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.form div button {
  width: 100%;
  background: linear-gradient(45deg, hsl(278, 68%, 11%), hsl(279, 6%, 55%));
  padding: 10px;
  font-size: 0.9em;
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  border: 1px solid hsl(278, 68%, 11%);
  cursor: pointer;
  transition: all 0.23s linear;
}
.form div button:hover {
  letter-spacing: 2px;
  opacity: 0.8;
}

@media (max-width: 900px) {
  div.form-section {
    background: none;
    padding-top: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.form-section form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em 0;
  }
}
div.form-section.display-hide {
  display: none;
}

div.complete-section {
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.3em;
}
div.complete-section div.thanks {
  font-size: 2em;
  text-transform: uppercase;
}
div.complete-section p {
  margin: 0;
  color: hsl(279, 6%, 55%);
}
div.complete-section button.button-continue {
  width: 20em;
  background: linear-gradient(45deg, hsl(278, 68%, 11%), hsl(279, 6%, 55%));
  padding: 10px;
  font-size: 0.9em;
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
  border: 1px solid hsl(278, 68%, 11%);
  cursor: pointer;
  transition: all 0.23s linear;
}
div.complete-section button.button-continue:hover {
  letter-spacing: 2px;
  opacity: 0.8;
}

div.complete-section.display-success {
  display: flex;
}

.error {
  display: none;
  width: 100%;
  color: #af4242;
  font-size: 0.8em;
  margin-left: 1em;
}

.error.display-error {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
