@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Primary */

  --clr-Cyan: hsl(179, 62%, 43%);
  --clr-Cyan-5: hsla(179, 62%, 43%, 0.9);
  --clr-Bright-Yellow: hsl(71, 73%, 54%);

  --clr-Light-Gray: hsl(204, 43%, 93%);
  --clr-White: hsl(204, 43%, 28%);

  --clr-Grayish-Blue: hsl(215, 24%, 82%);
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-Cyan: hsl(179, 62%, 43%);
    --clr-Cyan-5: hsla(179, 62%, 43%, 0.9);
    --clr-Bright-Yellow: hsl(71, 73%, 54%);

    --clr-Light-Gray: hsl(206, 25%, 89%);
    --clr-White: hsl(204, 43%, 98%);

    --clr-Grayish-Blue: hsl(216, 9%, 78%);
  }
}

html {
  color-scheme: light dark;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

body {
  line-height: 1.5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Karla', sans-serif;
}

h1 {
  line-height: 1.5;
}

p {
  line-height: 1.7;
  font-weight: 600;
}
/* =============== */
/* Utility classes */
/* =============== */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.gap-4 {
  gap: 1rem;
}

.main_content {
  min-height: 100dvh;
  background-color: var(--clr-Grayish-Blue);
}

.card {
  --padding: 2rem;
  --border-radius: 0.5rem;
  overflow: hidden;
  margin: auto;
  width: min(100% - 2rem, 70ch);
  background-color: var(--clr-White);
  border-radius: var(--border-radius);
  &__header {
    padding: var(--padding);
    // gap: 1rem;
    &-p:first-of-type {
      color: var(--clr-Bright-Yellow);
      margin-bottom: 0.5rem;
    }
    &-p:last-of-type {
      color: var(--clr-Grayish-Blue);
    }
  }
  &__h1 {
    color: var(--clr-Cyan);
    margin-bottom: 1.5rem;
  }
  &__div {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15em), 1fr));
  }
  &__article {
    // gap: 0.5rem;
    padding: var(--padding);
    &:first-of-type {
      background-color: var(--clr-Cyan);
    }
    &:last-of-type {
      background-color: var(--clr-Cyan-5);
    }
  }
  &__h2 {
    color: var(--clr-Light-Gray);
    margin-bottom: 1rem;
  }
  &__p_price {
    display: flex;
    align-items: center;
    color: var(--clr-Grayish-Blue);
    &-number {
      color: var(--clr-Light-Gray);
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
  &__p {
    color: var(--clr-Light-Gray);
    font-size: 1rem;
  }
  &__link {
    position: relative;
    text-align: center;
    font-weight: 600;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: var(--border-radius);
    background-color: var(--clr-Bright-Yellow);
    color: var(--clr-White);
    box-shadow: 0 10px 1.3rem #6b6b6ba8;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateY(-5px);
    }
  }
  &__ul {
    color: var(--clr-Light-Gray);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
