.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.wrapper {
  width: min(100%, 90em);
  margin: 0 auto;
  display: grid;
  place-items: center;
  text-align: center;
}
