/* ========= */
/* variables */
/* ========= */

:root {
  --clr-bg: hsl(36, 48%, 94%);
  --clr-text-1: hsl(0, 0%, 40%);
  --clr-click: hsla(207, 100%, 50%);
}

/* ====== */
/* resets */
/* ====== */

*,
*::after,
*::before {
  font-family: 'Lato', sans-serif;
  box-sizing: inherit;
  border: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  color-scheme: dark light;
}

body {
  background-color: var(--clr-bg);
  font-family: 'Lato', sans-serif;
}

img,
svg {
  display: block;
  width: 100%;
}

a,
a:active {
  text-decoration: none;
}
/* =============== */
/* Utility classes */
/* =============== */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.gap-4 {
  gap: 1rem;
}

.grid {
  display: grid;
}

/* ============= */
/* Global styles */
/* ============= */

.wrapper {
  width: min(100% - 2rem, 80rem);
  margin-inline: auto;
  gap: 2rem;
  padding: 1rem;
  overflow-x: hidden;
}

/* ====== */
/* Header */
/* ====== */

.header {
  gap: 1rem;
  align-items: center;
  position: relative;
}
.header__logo {
  flex: 1;
  align-items: center;
  column-gap: 0.7rem;
}

.header__img {
  width: 6rem;
}

.header__hiring {
  color: var(--clr-bg);
  background-image: linear-gradient(
    to right,
    rgba(255, 187, 0, 0.731),
    hsla(0, 100%, 38%, 0.731)
  );
  font-size: 0.8rem;
  font-weight: bold;
  padding: 7px 13px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.24s;
}

.header__hiring:hover {
  transform: scale(1.05, 1.05);
}

.header__nav {
  /* display: none; */
  justify-content: space-between;
  flex: 2;
}

.header__link {
  color: var(--clr-text-1);
  font-size: 1rem;
  transition: all 0.23s;
}

.header__link:hover {
  text-decoration: underline;
  transform: scale(1.05, 1.05);
}

.header__call {
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

@media (width < 53.125em) {
  .header__nav {
    position: absolute;
    inset: 0;
    padding: min(10vh, 15rem) 3vw;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--clr-bg);
    z-index: 9999;
    align-items: end;
    height: fit-content;
    gap: 5rem;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .header__nav[aria-expanded='true'] {
    transform: translateX(0);
    opacity: 1;
  }

  .header__links {
    flex-direction: column;
    align-items: end;
  }

  .header__link {
    font-size: 2rem;
  }

  .header__call {
    /* justify-content: end; */
    flex-direction: column;
    align-items: end;
    gap: 1rem;
  }
}

.header__call a {
  padding: 17px 27px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s;
}

.header__sign {
  color: var(--clr-text-1);
}

.header__sign:hover {
  outline: solid var(--clr-click);
  transform: translate(-1px, -1px);
}

.header__join {
  background-color: var(--clr-click);
  color: var(--clr-bg);
  font-weight: bold;
}

.header__join:hover {
  transform: translate(-1px, -1px);
  box-shadow: 6px 3px 16px rgb(174, 174, 174);
  background-color: rgba(0, 140, 255, 0.842);
}

.header__toggle {
  display: none;
}

@media (width < 53.125em) {
  .header__toggle {
    position: relative;
    z-index: 99999999;
    display: block;
    width: 2rem;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }

  .header__toggle img {
    width: 100%;
  }
}

/* ==== */
/* Main */
/* ==== */

.main {
  --col-size: 20em;
  flex-wrap: wrap-reverse;
  margin-block: 10vh;
}

.main__article {
  flex-basis: var(--col-size);
  flex-grow: 1;
  justify-content: center;
}

.main__h1 {
  font-family: 'Playfair Display', serif;
  font-size: clamp(2.3rem, calc(2rem + 5vw), 4rem);
  font-weight: 900;
  line-height: 1.25;
}

.main__p {
  color: var(--clr-text-1);
  font-size: 1.4rem;
  line-height: 1.45;
}

.main__form {
  /* margin-top: 14px; */
}

.main__form input {
  flex: 1;
  padding: 1.3rem;
  border: solid 1px transparent;
  border-radius: 6px;
  font-size: 1.1rem;
  transition: all 0.25s;
}

.main__form input:focus {
  background-color: rgb(233, 247, 245);
  outline: solid rgb(156, 230, 240);
}

.main__form button {
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--clr-click);
  color: var(--clr-bg);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.25s;
}

.main__form button:hover {
  transform: translate(-1px, -1px);
  box-shadow: 6px 3px 16px rgb(174, 174, 174);
  background-color: rgba(0, 140, 255, 0.842);
}

.main__msg {
  /* display: flex; */
  align-items: center;
}
.main__msg img {
  width: 2rem;
}

.main__msg span {
  color: var(--clr-text-1);
  font-size: 1.3rem;
}

.main__imagess {
  flex-basis: var(--col-size);
  flex-grow: 1;
  place-items: center;
}

.main__imgs_container {
  position: relative;
  width: fit-content;
}

.main__imgs_container img {
  width: 100%;
  max-width: 100%;
  inset: 0;
}

.rojo,
.azul {
  position: absolute;
  inset: 0;
}

.azul {
  transform: rotate(-0.12turn);
}

.rojo {
  transform: rotate(-0.08turn);
}

.morado {
  position: relative;
  transform: rotate(-0.04turn);
}

.girl-1 {
  position: absolute;
}

/*Footer Section Styles*/
.footer {
  justify-content: space-between;
}

.footer__links {
  align-items: center;
}

.footer__links a {
  color: var(--clr-text-1);
  font-size: 1.2rem;
}

.footer__help img {
  width: 3rem;
}

.footer__help p {
  font-family: 'Playfair Display', serif;
  margin: 0;
  color: rgb(55, 55, 55);
}

.footer__help span {
  font-weight: bold;
  color: rgb(43, 43, 43);
}
