/* ========= */
/* variables */
/* ========= */

:root {
  --clr-bg: hsl(36, 48%, 94%);
  --clr-text-1: hsl(0, 0%, 40%);
}

/* ====== */
/* resets */
/* ====== */

*,
*::after,
*::before {
  font-family: 'Lato', sans-serif;
  box-sizing: inherit;
  border: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  color-scheme: dark light;
}

body {
  background-color: var(--clr-bg);
  font-family: 'Lato', sans-serif;
}

img,
svg {
  display: block;
  width: 100%;
}

a,
a:active {
  text-decoration: none;
}
/* =============== */
/* Utility classes */
/* =============== */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.gap-4 {
  gap: 1rem;
}

.grid {
  display: grid;
}

/* ============= */
/* Global styles */
/* ============= */

.wrapper {
  width: min(100% - 2rem, 80rem);
  margin-inline: auto;
  gap: 2rem;
  padding-block: 1rem;
  overflow-x: hidden;
}

/* ====== */
/* Header */
/* ====== */

.header {
  /* justify-content: space-between; */
  gap: 1rem;
  align-items: center;
  position: relative;
}
.header__logo {
  flex: 1;
  align-items: center;
  column-gap: 0.7rem;
}

.header__img {
  width: 6rem;
}

.header__hiring {
  color: var(--clr-bg);
  background-image: linear-gradient(
    to right,
    rgba(255, 187, 0, 0.731),
    hsla(0, 100%, 38%, 0.731)
  );
  font-size: 0.8rem;
  font-weight: bold;
  padding: 7px 13px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.24s;
}

.header__hiring:hover {
  transform: scale(1.05, 1.05);
}

.header__nav {
  /* display: none; */
  justify-content: space-between;
  flex: 2;
}

.header__link {
  color: var(--clr-text-1);
  font-size: 1rem;
  transition: all 0.23s;
}

.header__link:hover {
  text-decoration: underline;
  transform: scale(1.05, 1.05);
}

.header__call {
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

@media (width < 53.125em) {
  .header__nav {
    position: absolute;
    inset: 0;
    padding: min(10vh, 15rem) 3vw;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--clr-bg);
    z-index: 9999;
    align-items: end;
    height: fit-content;
    gap: 5rem;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .header__nav[aria-expanded='true'] {
    transform: translateX(0);
    opacity: 1;
  }

  .header__links {
    flex-direction: column;
    align-items: end;
  }

  .header__link {
    font-size: 2rem;
  }

  .header__call {
    /* justify-content: end; */
    flex-direction: column;
    align-items: end;
    gap: 1rem;
  }
}

.header__call a {
  padding: 17px 27px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s;
}

.header__sign {
  color: var(--clr-text-1);
}

.header__sign:hover {
  /* background-color: rgb(252, 224, 179); */
  box-shadow: 6px 3px 1rem hsla(41, 8%, 40%, 0.7);
  transform: translate(-1px, -1px);
}

.header__join {
  background-color: rgba(0, 94, 255, 0.842);
  color: var(--clr-bg);
  font-weight: bold;
}

.header__join:hover {
  transform: translate(-1px, -1px);
  box-shadow: 6px 3px 16px rgb(174, 174, 174);
  background-color: rgba(0, 140, 255, 0.842);
}

.header__toggle {
  display: none;
}

@media (width < 53.125em) {
  .header__toggle {
    position: relative;
    z-index: 99999999;
    display: block;
    width: 2rem;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }

  .header__toggle img {
    width: 100%;
  }
}

/*Main styles*/
.main-cont-container {
  display: grid;
  grid-template-columns: flex;
  flex-wrap: wrap-reverse;
  z-index: 1;
}
/*info section*/
.info-section {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-right: 20px; */
}

.info-section h1 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 55px;
  margin: 0;
}

.info-section p {
  color: rgb(83, 83, 83);
  font-size: 22px;
  padding-right: 7%;
  line-height: 35px;
}

.form-mail {
  display: flex;
  justify-content: center;
  padding-right: 15%;
  margin-bottom: 14px;
}

.form-mail form {
  display: flex;
  justify-content: space-between;
  gap: 0px 20px;
  width: 100%;
}

.form-mail input {
  flex: 1;
  width: 100%;
  padding: 0px 20px;
  margin: 0px 0;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  transition: all 0.25s;
  outline: none;
}

.form-mail input:focus {
  background-color: rgb(247, 233, 233);
  box-shadow: 1px 1px 16px rgb(174, 174, 174);
}

.form-mail button {
  padding: 18px 30px;
  font-size: 16px;
  font-weight: 600;
  background-color: rgba(0, 94, 255, 0.842);
  color: azure;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.25s;
}

.form-mail button:hover {
  transform: translate(-1px, -1px);
  box-shadow: 6px 3px 16px rgb(174, 174, 174);
  background-color: rgba(0, 140, 255, 0.842);
}

.no-spam-info {
  display: flex;
  align-items: center;
}
.no-spam-info img {
  margin-right: 8px;
}

.no-spam-info span {
  color: rgb(121, 121, 121);
  font-size: 22px;
}

/*Section image*/
.img-section {
  height: 100%;
  display: grid;
  place-items: center;
}

.parent-ima {
  width: 60%;
  /* height: ; */
  position: relative;
  top: 0;
  left: 0;
}

.parent-ima img {
  width: 100%;
}

.rojo,
.azul {
  position: absolute;
  top: 0;
  left: 30px;
}

.azul {
  transform: rotate(-0.12turn);
}

.rojo {
  transform: rotate(-0.08turn);
}

.morado {
  position: relative;
  top: 0;
  left: 30px;
  transform: rotate(-0.04turn);
}

.girl-1 {
  position: absolute;
  top: 0;
  left: 30px;
}

/*Footer Section Styles*/
.footer-main-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3%;
}

.footer-main-page section {
  display: flex;
  align-items: center;
}

.footer-main-page section a {
  margin: 0px 10px;
  color: rgb(83, 83, 83);
  font-size: 18px;
  text-decoration: none;
}

.help-foot-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 7px;
}

.help-foot-sect p {
  font-family: 'Playfair Display', serif;
  margin: 0;
  color: rgb(55, 55, 55);
}

.help-foot-sect span {
  font-weight: bold;
  color: rgb(43, 43, 43);
}
