:root {
  --clr-bg: hsl(0, 0%, 10%);
  --clr-1: hsl(300, 43%, 62%);
  --clr-2: hsl(333, 80%, 97%);
  --clr-3: hsl(303, 10%, 63%);
  --clr-4: hsl(300, 23%, 96%);
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-bg: hsl(0, 0%, 95%);
    --clr-1: hsl(300, 43%, 22%);
    --clr-2: hsl(333, 80%, 67%);
    --clr-3: hsl(303, 10%, 53%);
    --clr-4: hsl(300, 23%, 86%);
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark light;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/*
  Typographic tweaks!
  - Add accessible line-height
  - Improve text rendering
*/
body {
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
/* 
text-wrap: balance;
- Only works for the latest versions of Chrome
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.wrapper {
  background-color: var(--clr-bg);
  width: min(100%, 90em);
  min-height: 100dvh;
  padding: 10vh max(2rem, 7vw);
  overflow-x: hidden;
}

.main,
.main__section,
.main__article,
.main__stars,
.testimonial__div {
  display: flex;
}

.main {
  flex-wrap: wrap;
  gap: 3rem;
}
.main__section {
  flex-direction: column;
  flex-basis: 20em;
  flex-grow: 1;
  gap: 1rem;
}
.main__h1 {
  font-size: clamp(2.5rem, 3.7vw, 6rem);
  font-weight: 900;
  color: var(--clr-1);
}
.main__p {
  font-size: clamp(0.95rem, 1.3vw, 1.2rem);
  font-weight: 600;
  color: var(--clr-3);
}

.main__section:last-child {
  justify-content: center;
}

.main__article {
  gap: 1rem;
  flex-wrap: wrap;
  background-color: var(--clr-4);
  padding: 1rem;
  border-radius: 10px;
  opacity: 0.8;
  text-align: center;
  width: fit-content;
  -webkit-animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.main__article:nth-child(1) {
  align-self: flex-start;
  animation-delay: 100ms;
}
.main__article:nth-child(2) {
  align-self: center;
  animation-delay: 200ms;
}
.main__article:nth-child(3) {
  align-self: flex-end;
  animation-delay: 300ms;
}
.main__stars {
  flex-wrap: nowrap;
  flex-basis: 7em;
  flex-grow: 1;
  gap: 0.7rem;
  justify-content: center;
}
.main__stars img {
  object-fit: contain;
  aspect-ratio: 1;
  width: 1rem;
}
.main__h3 {
  flex-basis: 7em;
  flex-grow: 1;
  color: var(--clr-1);
  white-space: nowrap;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%, 15em), 1fr)); */
  min-height: 35dvh;
  margin: 10vh 0;
  gap: 1rem;
  align-items: flex-end;
}

.testimonial__article {
  flex-basis: 15em;
  flex-grow: 1;
  background-color: var(--clr-1);
  padding: 2em;
  border-radius: 10px;
  color: var(--clr-4);
  height: fit-content;
  -webkit-animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.testimonial__article:nth-child(1) {
  align-self: flex-start;
  animation-delay: 0.2s;
}
.testimonial__article:nth-child(2) {
  align-self: center;
  animation-delay: 0.6s;
}
.testimonial__article:nth-child(3) {
  align-self: flex-end;
  animation-delay: 1s;
}
.testimonial__div {
  align-items: center;
  gap: 1rem;
  margin-bottom: 3vh;
}

.testimonial__div img {
  border-radius: 50%;
  width: 2.5rem;
}
.testimonial__h3 {
  font-size: 1rem;
}
.testimonial__sub_h3 {
  display: block;
  color: var(--clr-2);
}
.testimonial__p {
  font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Animations */
/* ----------------------------------------------
 * Generated by Animista on 2023-8-7 1:40:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
