@use '../utils/' as *;

// Buttons styles

.btn-act {
  text-transform: inherit;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  background-color: $SofRed;
  border: 1px solid $SofRed;
  border-radius: 8px;
  color: $White;
  font-weight: 600;
  transition: all 0.24s ease-in-out;
  &:hover {
    transform: translateY(-3px);
    opacity: 0.9;
    box-shadow: 0 2px 2px gray;
  }
}

.btn {
  text-transform: inherit;
  padding: 1rem;
  width: fit-content;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.24s;
  &:hover {
    transform: translateY(-3px);
    opacity: 0.9;
    box-shadow: 0 2px 2px gray;
  }
}
.btn.primary {
  background-color: $softBlue;
  color: $White;
}

.btn.secondary {
  background-color: $ShadowGrayishBlue;
  color: $VeryDarBlue;
}
//  Section titles styles
.title_section {
  text-align: center;
  width: min(100% - 1rem, 65ch);
  margin: 0 auto;
  .section__text {
    opacity: 0;
  }
}

// Section styles
.section {
  min-height: 100dvh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 10vh 0;
  .container_cards {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    .cards {
      --pos1: flex-start;
      --pos2: center;
      --pos3: flex-end;
      transform: translateX(-100%);
      opacity: 0;
      transition: all 0.5s ease-in;
      @for $i from 1 through 3 {
        &.show:nth-child(3n + #{$i}) {
          transform: translateX(0);
          opacity: 1;
          transition-delay: $i * 200ms;
          align-self: var(--pos + $i);
        }
      }
    }
  }
}
