@use '../utils/' as *;

.header {
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  flex-wrap: wrap;
  // position: relative;
  &__nav {
    display: none;
    @media (width > 40em) {
      display: flex;
    }
    flex: 1;
    justify-content: flex-end;
    gap: 1rem;
  }
  &__ul {
    gap: 1rem;
    align-items: center;
  }
  &__li {
    a {
      color: $GrayishBlue;
      &:hover {
        color: $VeryDarBlue;
      }
    }
  }
  &__btn-mobile {
    background-color: transparent;
    border: none;
    @media (width > 48em) {
      display: none;
    }
  }
}
