@import url("https://fonts.googleapis.com/css2?family=Bree+Serif:wght@400&display=swap");

:root {
  --h-fonts: "Bree Serif", Serif;
  --p-fonts: "Outfit", sans-serif;

  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-stone-150: hsl(30, 18%, 87%);
  --clr-stone-600: hsl(30, 10%, 34%);
  --clr-stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}
/*
  Typographic tweaks!
  - Add accessible line-height
  - Improve text rendering
*/
*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.25;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
input,
button,
textarea,
select {
  font: inherit;
}
/* 
text-wrap: balance;
- Only works for the latest versions of Chrome
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
