.header,
.header__nav,
.header__user,
.nav__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header {
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-Grayish-blue);
}
.header__logo {
  margin-right: 1rem;
}
.header__nav {
  position: relative;
  flex: 1;
  flex-wrap: wrap;
  /* background-color: lightblue; */
}

.nav__links a,
.header__user {
  padding: 2rem 1rem;
}

@media (width < 45em) {
  .nav__links {
    flex: 1;
    align-items: center;
  }
  .nav__links a {
    padding: 0;
  }
}
.header__link {
  font-weight: 500;
  color: var(--clr-Dark-grayish-blue);
  border-bottom: 3px solid transparent;
  transition: all 240ms;
}

.header__link:hover {
  color: var(--clr-Grayish-blue);
  border-bottom: 3px solid var(--clr-Orange);
}

.header__avatar {
  width: 1.8rem;
}
