.product_images {
  display: grid;
  gap: 1rem;
}

.product_images img {
  border-radius: 16px;
  border: 2px solid transparent;
}
.product_images__cover img {
  aspect-ratio: 4/4;
  object-fit: cover;
}
.product_images__select {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product_images__select img:hover {
  /* width: 5rem; */
  opacity: 0.8;
  border: 2px solid var(--clr-Orange);
}
