:root {
  --clr-bgk: hsl(267, 94%, 6%);
  --clr-cards: hsl(267, 96%, 19%);
  --clr-accent: #30cfd0;
  --clr-accent-8: hsla(180, 63%, 50%, 0.8);
  --clr-text: #f0eeee;
}

:root.dark {
  --clr-bgk: hsl(267, 94%, 96%);
  --clr-cards: hsl(180, 54%, 87%);
  --clr-accent: hsl(180, 63%, 50%);
  --clr-accent-8: hsla(180, 63%, 50%, 0.8);
  --clr-text: hsl(0, 6%, 14%);
}

body {
  background-color: var(--clr-bgk);
}
