* {
  font-family: 'Red Hat Display', sans-serif;
  
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: hsl(224, 35%, 82%);
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  
}
/*Father container styles*/
.order-preview-container {
  width: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(244, 250, 255);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 8px 20px hsl(209, 16%, 72%);
  overflow: hidden;
}

/*Child #1 container styles*/
.img-child-container {
  width: 100%;
}

.img-child-container img {
  width: 100%;
  height: auto;
}

/*Child #2 container styles*/
.info-child-container {
  padding: 15px;
} 

.info-child-container h1 {
  font-size: 27px;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.info-child-container p {
  padding: 0px 40px;
  font-size: 16px;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  
} 

/*Child #3 container styles*/
.preview-plan-child-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsl(229, 44%, 95%);
  padding: 15px 10px;
  margin: 10px 50px;
  border-radius: 8px;
}

.preview-plan-child-container div {
  flex: 1;
  
}

.preview-plan-child-container img {
  margin-left: -50px;
  width: 40px;
}

.preview-plan-child-container p { 
  margin: 0;
  margin-left: -120px;
  margin-bottom: 0px;
}

.anual {
  color: hsl(223, 47%, 23%);
}

.price {
  color: hsl(224, 23%, 55%);
}

.preview-plan-child-container span {
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
  color: hsl(245, 75%, 52%);
  margin-left: 25px;
  cursor: pointer;
  transition: all 0.25s;
}

/*Child #4 container styles*/
.pay-cancel-child-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.pay-cancel-child-container button {
  padding: 10px 10px;
  margin: 10px 50px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 10px 18px hsl(224, 38%, 77%);
  font-weight: bold;
  font-size: 16px;
  color: hsl(225, 100%, 94%);
  background-color: hsl(245, 75%, 52%);
  cursor: pointer;
  transition: all 0.25s;
}

.pay-cancel-child-container span {
  margin-top: 5px;
  font-weight: bold;
  font-size: 15px;
  color: hsl(224, 5%, 48%);
  cursor: pointer;
}