---

---

<header class="main__header">
  <h1>Welcome to <span class="text-gradient">Astro Bistro</span></h1>
  <img
    src="/assets/images/title-cute-mascot.png"
    alt="kawai picture illustration"
  />
</header>

<style>
  .main__header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: fit-content;

    margin-bottom: 1em;

    & img {
      position: absolute;
      right: 0;
      /* z-index: -1; */

      display: block;
      object-fit: cover;
      width: min(100%, 125px);

      transform: rotate(20deg) translateX(75px) translateY(-25px);

      filter: drop-shadow(0 0 2px hsl(0, 0%, 70%));
    }
  }

  @media (width < 54em) {
    .main__header {
      /* background-color: red; */
      & img {
        transform: rotate(25deg) translateX(35px) translateY(-5px);
      }
    }
  }

  h1 {
    background-color: #e1dfe5;
    color: #1d1d1f;
    border-radius: 3rem;
    padding: 1rem;

    font-size: clamp(2.8rem, 3vw, 4rem);
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
