.thoughts {
  width: 100%;
  padding: 1rem;
  &__h2 {
    margin-bottom: 1rem;
  }
  &__ul,
  &__li {
    display: flex;
  }
  &__ul {
    list-style: none;
    flex-direction: column;
  }

  &__li {
    align-items: start;
    padding: 1rem;
    gap: 1rem;
    transition: 600ms;
    border-radius: 10px;
    &[data-onBlur='true'] {
      transition: 600ms;
      filter: blur(0.3rem);
    }
    &:hover {
      background-color: var(--clr-cards);
      filter: blur(0rem);
      box-shadow: 0 8px 1rem var(--clr-cards);
    }
  }
}
