.thoughts {
  width: 100%;
  padding: 1rem 0;
  &__h2 {
    margin-bottom: 1rem;
  }

  &__li {
    display: flex;
  }
  &__ul {
    flex-direction: column;
    list-style: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    @media (width < 40em) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__li {
    flex-direction: column;
    border: 1px solid hsl(0, 0%, 15.8%);
    align-items: start;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.3rem;
    transition: 600ms;
    @media (width < 40em) {
      flex-direction: row;
    }
    div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (width < 40em) {
        flex-direction: row;
      }
    }
    &[data-onBlur="true"] {
      filter: blur(0.5rem);
    }
    &:hover {
      // animation-play-state: paused;
      filter: blur(0rem);
      background-color: hsla(280, 33%, 96%, 0.2);
    }
  }
}
