.thoughts {
  width: 100%;
  padding: 1rem 0;
  &__h2 {
    margin-bottom: 1rem;
  }
  &__ul,
  &__li {
    display: flex;
  }
  &__ul {
    list-style: none;
    flex-direction: column;
  }

  &__li {
    align-items: start;
    padding: 1rem;
    gap: 1rem;
    transition: 600ms;
    border-radius: 10px;
    &[data-onBlur='true'] {
      filter: blur(0.5rem);
    }
    &:hover {
      background-color: var(--clr-cards);
      animation-play-state: paused;
      filter: blur(0rem);
    }
  }
}

// @keyframes hide {
//   0% {
//     filter: blur(0.5rem);
//   }

//   100% {
//     filter: blur(0rem);
//   }
// }
